In [2]:
from nltk.tokenize import word_tokenize
doc = "I love #food #pasta"
print( word_tokenize(doc))

['I', 'love', '#', 'food', '#', 'pasta']

In [3]:
from nltk.tokenize import TweetTokenizer
tknz = TweetTokenizer()
doc = "I love #food #pasta"
print( tknz.tokenize(doc))

['I', 'love', '#food', '#pasta']

In [1]:
from sklearn.feature_extraction.text import CountVectorizer
Doc1 = "HE love python"
Doc2 = "HE love eating healthy"
vectrz = CountVectorizer()
Bow_array = vectrz.fit_transform([Doc1, Doc2])
print(Bow_array.shape)

(2, 5)

In [13]:
import numpy as np 
np.log2(3)

1.584962500721156

In [10]:
Document1="Vapour, Bangalore has a really great terrace seating and an awesome view of the Bangalore skyline"
Document2= "The beer at Vapour, Bangalore was amazing. My favorites are the wheat beer and the ale beer."
Document3= "Vapour, Bangalore has the best view in Bangalore."

In [23]:
doc=["Vapour, Bangalore has a really great terrace seating and an awesome view of the Bangalore skyline",
     "The beer at Vapour, Bangalore was amazing. My favorites are the wheat beer and the ale beer.",
     "Vapour, Bangalore has the best view in Bangalore."]

In [20]:
import pandas as pd
import numpy as np
import nltk, re
nltk.download('stopwords') # load english stopwords
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
import warnings
warnings.simplefilter("ignore")
warnings.warn("deprecated", DeprecationWarning)
warnings.simplefilter("ignore")

[nltk_data] Downloading package stopwords to C:\Users\PRATIK
[nltk_data]     PANIGRAHI\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [22]:
REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = list((stopwords.words('english')))
def text_prepare(text,join_sumbol):
    """
        text: a string
        
        return: modified initial string
    """
    # lowercase text
    
    text = text.lower() 

    # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = re.sub(REPLACE_BY_SPACE_RE," ",text,)

    # delete symbols which are in BAD_SYMBOLS_RE from text
    text = re.sub(BAD_SYMBOLS_RE,"",text)
    text = re.sub(r'\s+'," ",text)

    # delete stopwords from text
    text = f'{join_sumbol}'.join([i for i in text.split() if i not in STOPWORDS])
    
    return text

In [28]:
text_prepare(Document1,' ')

'vapour bangalore really great terrace seating awesome view bangalore skyline'

In [29]:
text_prepare(Document2,' ')

'beer vapour bangalore amazing favorites wheat beer ale beer'

In [30]:
text_prepare(Document3,' ')

'vapour bangalore best view bangalore'

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

import pandas as pd

tfid = TfidfVectorizer(smooth_idf=False)

doc=['vapour bangalore really great terrace seating awesome view bangalore skyline',
     'beer vapour bangalore amazing favorites wheat beer ale beer',
     'vapour bangalore best view bangalore']


doc_vector = tfid.fit_transform(doc)
#print(tfid.get_feature_names())

df= pd.DataFrame(doc_vector.todense(),columns=tfid.get_feature_names())
df
#print(doc_vector)

,ale,amazing,awesome,bangalore,beer,best,favorites,great,really,seating,skyline,terrace,vapour,view,wheat
0,0.000000,0.000000,0.363125,0.346062,0.000000,0.000000,0.000000,0.363125,0.363125,0.363125,0.363125,0.363125,0.173031,0.243189,0.000000
1,0.272629,0.272629,0.000000,0.129909,0.817888,0.000000,0.272629,0.000000,0.000000,0.000000,0.000000,0.000000,0.129909,0.000000,0.272629
2,0.000000,0.000000,0.000000,0.592882,0.000000,0.622115,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.296441,0.416638,0.000000

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

import pandas as pd
tf = TfidfVectorizer()

#Passing same message with TF-IDF

text_matrix(Document1,tf)

ValueError: Iterable over raw text documents expected, string object received.